# Zendesk Credentials
ZENDESK_USER=your_email@example.com
ZENDESK_PASS=your_api_token
ZENDESK_SUBDOMAIN=your_subdomain
ZENDESK_FEDERATED_SOURCE_ID=your_federated_source_id
ZENDESK_FEDERATED_TYPE_ID=your_federated_type_id

# Algolia Credentials
ALGOLIA_APPLICATION_ID=your_algolia_app_id
ALGOLIA_INDEXER_KEY=your_indexer_key
ALGOLIA_INDEX=your_index_name
