# Zendesk Credentials
ZENDESK_USER=your_email@example.com
ZENDESK_PASS=your_api_token
ZENDESK_SUBDOMAIN=your_subdomain

# Algolia Credentials
ALGOLIA_APPLICATION_ID=your_algolia_app_id
ALGOLIA_DEV_INDEXER_KEY=your_dev_indexer_key
ALGOLIA_DEV_INDEX=your_dev_index_name
