name: validate content

on:
  workflow_dispatch:
  repository_dispatch:
    types: deploy
  push:
    branches:
      - master
    paths:
      - 'content/**'
  pull_request:
    types: [opened, synchronize, ready_for_review, reopened]
    paths:
      - 'content/**'

jobs:
  markdown:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Markdownlint
        run: |
          cd _linter
          npm install
          cd ..
          node _linter/markdownlint.js

  zendesk:
    if: github.repository_owner == 'arduino'
    runs-on: ubuntu-latest

    # Prevents concurrency with itself AND any other workflows 
    # using the the Zendesk API, to avoid breaching request limits.

    concurrency:
      group: zendesk-api
      cancel-in-progress: false

    env:
      ZENDESK_USER: ${{ secrets.ZENDESK_USER }}
      ZENDESK_PASS: ${{ secrets.ZENDESK_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - name: Preview changes
        run: |
          cd _deploy
          npm install
          cd ..
          node _deploy/zendesk.mjs content '*/*/*.md' https://arduino.zendesk.com/api/v2/help_center --wait 60
